html {
    --text-color: #1a162e;
    --icon-filter: brightness(0) saturate(100%) invert(5%) sepia(43%)
        saturate(2403%) hue-rotate(230deg) brightness(96%) contrast(92%);

    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;
}
