/* Error: Undefined mixin.
 *    ,
 * 11 | /     @include abstracts.screen(lg) {
 * 12 | |         box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
 * 13 | \     }
 *    '
 *   scss\layout\_header.scss 11:5  @forward
 *   scss\layout\index.scss 1:1     root stylesheet */

body::before {
    font-family:
        "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
    white-space: pre;
    display: block;
    padding: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid black;
    content: "Error: Undefined mixin.\a    \2577 \a 11 \2502  \250c      @include abstracts.screen(lg) {\a 12 \2502  \2502          box-shadow: 0px 20px 60px 10px var(--header-shadow-color);\a 13 \2502  \2514      }\a    \2575 \a   scss\\layout\\_header.scss 11:5  @forward\a   scss\\layout\\index.scss 1:1     root stylesheet";
}
